body {
    font-family: cursive;
    background-color: darkslateblue;
}
footer{
    background-color: aqua;
    border: 5px solid crimson;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}



